*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 1200px;
    height: 600px;
    border: 1px solid #000;
    position: relative;
}
#bgimg{
    max-height: 100vh;
    width: 100%; 
    display: block; 
    margin: 0 auto;
    position: absolute;
    filter: blur(4px);
    z-index: -1;
}
#searchip{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background: transparent;
}
#searchbtn{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: transparent;
}
#search{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}